
@import "components/fonts_and_colors";

html{
  height: 100%;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }

body{ 
  height: 100%;
  background-color:$light-gray;
  font-size: 16px;
  font-weight: 300;
  color: black;
  line-height: inherit;
  font-family:$font-type-2;
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Poppins" !important;
}

a{
  &:link,&:visited,&:hover{
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}

p{
  margin-bottom: 18px;
  line-height: 2;
  font-size: 24px;
  font-family: "Poppins";
  
  &:last-of-type{
    margin-bottom: 0;
  }
}


ul{
 padding: 0;
 margin:0;
 padding-left: 0;
  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
  &:hover, &:focus{
    text-decoration: none
  }
}

#wrapper{
  min-height: 100%;
  position: relative;
}

.slick-slider{
  .slick-slide{
    outline: none;
  }
}

.custom-container{
  padding: 80px 100px;
  max-width: 1920px;
  margin: auto;
  position: relative;
  .small-width-container{
    padding: 80px 100px;
    max-width: 1600px;
  }
  .small-medium-container{
    padding: 80px 100px;
    max-width: 1400px;
  }
  &.no-top-bottom-padding{
    padding-top: 20px;
    padding-bottom: 20px ;
  }
  &.small-padding{
    padding: 30px 0;
  }
  &.added-top-padding{
    padding-top: 250px;
  }
}



