
@import "components/fonts_and_colors";

html{
  height: 100%;
}

body{ 
  height: 100%;
  background-color:$light-gray;
  font-size: 16px;
  font-weight: 300;
  color: black;
  line-height: inherit;
  font-family:$font-type-2;
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a{
  &:link,&:visited{
    text-decoration: none
  }
  &:focus{
    outline: none
  }
}

p{
  margin-bottom: 18px;
  &:last-of-type{
    margin-bottom: 0;
  }
}

ul{
 padding: 0;
 margin:0;
 padding-left: 0 !important;
  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
  &:hover, &:focus{
    text-decoration: none
  }
}

#wrapper{
  min-height: 100%;
  position: relative;
}

.slick-slider{
  .slick-slide{
    outline: none;
  }
}

.custom-container{
  padding: 80px 100px;
  max-width: 1920px;
  margin: auto;
  position: relative;
  .small-width-container{
    max-width: 1200px;
  }
  .small-medium-container{
    max-width: 1500px;
  }
  &.no-top-bottom-padding{
    padding-top: 40px;
    padding-bottom: 40px ;
  }
  &.small-padding{
    padding: 30px 0;
  }
  &.added-top-padding{
    padding-top: 250px;
  }
}

