@import "components/fonts_and_colors";

#wrapper{

/*------------------------------------ Site Wide Starts -----------------------------------*/
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  .custom-container{
    &.no-top-bottom-padding{
      .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-container{
          height: 166px;
          width: 166px;
          a{
            img{
              
            }
          }
        }
        .nav-container{
          
          .nav-content{
            .mainmenu-container{
              display: flex;
          
              align-items: center;
              text-align: center;
              li{
              
                text-transform: uppercase;
                font-size: 26px;
                &:not(:last-of-type){
                  margin-right: 55px;
                }
                a{
                  color:$white-color;
                  span{

                  }
                }
              }
              .common-button-container{
            
                a{
                  button{
                    padding: 20px 30px;
                    border-radius: 50px;
                    i{
                     
                     border-radius: 50%;
                     font-size: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/

#homepage{
  background-color:#F7F7F7;
  .search-section{
    position:absolute;
    bottom:-12%;
    margin:auto;
    left: 50%;
    border-color:$gray-color;
    border-radius: 10px;
    background-color: $white-color;
    transform: translate(-50%);
    height: 269px;
    width: 1605px;

    .custom-container{
      // padding:20px 60px;
      .search-container{
        
        .section-title{
          h2{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            // padding: 20px 0;
            border-bottom: 2px solid #B8B8B8;
            span{
              color:red;
            }
          }  
        }
        .form-container{
        display: flex;
        text-align: center;
          // padding-top:20px;
          .form-inputs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-direction: row;
            .form-input{
              padding:20px 50px;
              margin-right: 50px;
              border-radius: 50px;
              border-color: $gray-color;
              &.date{
                position: relative;
                &::after{
                  content: "\f073";
                  background-color: red;
                  position: absolute;
                }
              }
              &::placeholder{
                font-size:22px;
                text-transform: uppercase;
         
              }
            }
           
          }
        }
      }
    }
  }
  .display-room-section{
    .custom-container{
      .display-room-container{
        .section-heading-container{
          .common-section-subtitle{
           text-align: center;
          }
          .common-section-title{
            text-align: center; 
          }
        }
        .card-container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card-item{ 
            border-radius: 20px;
            background-color: $white-color;
            width: 33.33%;
            &:not(:last-of-type){
              margin-right: 30px;
            }
            .row1-container{
              position: relative;
              .image-container{
                img{
                  border-radius: 20px 20px 0 0;
                }
              }
              .text-container{
                h3{
                  position: absolute;
                  top:3%;
                  left: 2%;
                  text-transform: capitalize;
                  color: $white-color;
                  font-size: 26px;
                  font-weight: bold;
                }
              }
            }
           .row2-container{
             padding:20px;
            ul{
              display: flex;
              align-items: center;
              justify-content: space-between;
              li{
                color:$red;
                font-size: 24px;
                font-weight: 500;
              }
           
            }
            }
            .row3-container{
              display: flex;
              align-items: center;
              background-color: $white-color;
              padding:0 30px;
              ul{
                display: flex;
                li{
                  &:not(:last-of-type){
                    margin-right: 20px;
                  }
                  img{
                    height: 26px;
                    width: 26px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .menu-section{
    .custom-container{
      .menu-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .column-1{
          
          margin-right: 250px;
          .text-container{
            p{
              font-size: 26px;
            }
          }
          .menu-title{
            h2{
              font-size: 28px;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
          .section-accordion{
            ul{
              li{
                background-color:$light-black;
                .uk-accordion-title{
                  text-transform: uppercase;
                  font-size: 26px;
                  color:$white-color;
                  padding: 15px;
                }
                .uk-accordion-content{

                }
              }
            }
          }
          .section-menu-item{
            ul{
              display: flex;
              align-items: center;
              justify-content: space-between;
              li{
                .common-icon-button{
                button{
                  background-color: $red;
                  border-radius: 50%;
                  color:$white-color;
                  padding: 20px;
                  margin-right: 30px;
                  span{
                    font-size: 24px;
                  }
                }
                }
              }
              li{
                h5{
                  text-transform: uppercase;
                  color:$green-color;
                  font-size: 28px;
                  font-weight: 600;
                }
                p{
                  font-size: 24px;
                }
              }
            }
          }
        }
        .column-2{
          .background-color{
            border-radius: 20px;
            position:relative;
            background-color: $light-blue;
            width: 702px;
            height: 320px;
            .main-image-container{
              position: absolute;
              top:-69%;
              left: 8%;
              
              height: 323px;
              width: 598px;
              img{
                border-radius: 20px;
              }
            }
            .images-container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: absolute;
              bottom:22%;
              right: 15%;
              .image-container{
                height: 98px;
                width: 98px;
              }
            
            }
            h5{
              position:absolute;
              bottom:0;
              left:50%;
              transform: translate(-50%);
              color:$green-color;
              font-size: 20px;
              font-weight: 500;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .feature-section{
    .custom-container{
      .feature-container{
        display: flex;
        justify-content: space-between;
      
        .column-1{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          .image-container{
            height:540px;
            width: 308px;
            margin-right: 30px;
           
            &.upper{
          margin-bottom: 18%;
          img{
            border-radius: 20px 20px 0 0 !important;
          }
         
            }
            img{
              border-radius: 20px;
            }
          
          }
          .like-container{
            background-color: $white-color;
            border-radius: 20px;
            position: absolute;
            left: 33%;
            bottom: 34%;
            // height: 183px;
            // width: 432px;
            padding:10px 30px;
            ul{
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 3px solid $dark-blue;
              
              li:nth-of-type(1){
                color:$red;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
              }
              li:nth-of-type(2){
                .image-container{
                  height: 38px;
                  width: 38px;
                }
              }
              li:nth-of-type(3){
                color:$dark-yellow;
                font-size: 24px;
                font-weight: bold;
              }
            }
            .common-button-container{
            a{
              button{
                border-radius: 10px;
                font-size: 24px;
            
                padding:15px;
              }
            }
            }
          }
        }
        .column-2{
          .text-container{
            p{
              font-size: 26px;
            }
          }
          .row{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            .sub-column-1{
              ul{
                display: flex;
               
                align-items: center;
                li:nth-of-type(1){
                  .image-container{
                    height: 40px;
                    width: 40px;
                    background-color: $light-blue;
                    border-radius: 50%;
                    padding:10px;
                    margin-right: 20px;
                  }
                }
                li:nth-of-type(2){
                  color:$green-color;
                  font-size: 22px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
              }
            }
            .sub-column-2{
              ul{
                display: flex;
            
                align-items: center;
                li:nth-of-type(1){
                  .image-container{
                    height: 40px;
                    width: 40px;
                    background-color: $light-blue;
                    border-radius: 50%;
                    padding:10px;
                    margin-right: 20px
                  }
                }
                li:nth-of-type(2){
                  color:$green-color;
                  font-size: 22px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  .service-section{
    background-color: $light-blue;
    .custom-container{
      padding-bottom: 0;
      .service-container{
        .common-section-subtitle{
          text-align: center;
          h2{
            display: inline-block;
            text-align: center;
            position: relative;
            &:after,&:before{
              content: '';
              position: absolute;
              background-color: red;
              height: 3px;
              width: 24px;
              top: 50%;
              transform: translateY(-50%);
            }
            &:after{
              right: -20%;
            }
            &:before{
              left: -20%;
            }
          }
        }
        .common-section-title{
          h1{
            text-align: center;
          }
        }
        .section-content{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .column-1{
            .common-box-container{
              margin-bottom: 60px;
              &.text-right{
                text-align: right;
              }
            }
          }
          .column-2{
            .image-container{
              height: 922px;
              width: 792px;
              img{
  
              }
            }
          }
        }
     
      }
    }
  }

}
#room-type-page{
  .common-banner-section{
    .common-banner-slider{
      .banner-item{
        .image-container{
          .custom-container{
            .inner{
              .banner-content{
                .section-title{
                  h1{
                    font-size: 124px;
                    letter-spacing: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .room-type-section-1{
    .custom-container{
    padding-left: 0; 
    .common-room-type-container{
      .column-1{
        margin-right: 50px;
      }
    }
    }
  }
  .room-type-section-2{
    .custom-container{
    padding-right: 0;
      .common-room-type-container{
        display: flex;
        flex-direction: row-reverse;
        .column-1{
          margin-left: 50px;
        }
      }
    }
  }
  .room-type-section-3{
    .custom-container{
    padding-left: 0;
    .common-room-type-container{
      .column-1{
        margin-right: 50px;
      }
    } 
  
    }
  }
}
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper{
  .footer-section{
    .image-container{
 
      // background-position: center;
      // background-size: cover;
      // background-repeat: no-repeat;
  
      // position: relative;
      .custom-container{
        padding: 291px 100px 100px 100px;
        .footer-container{
          display: flex;
          justify-content: space-between;
      
          .column-1{
            width: 25%;
            line-height: 2;
            .image-container{
              height: 100px;
              width: 100px;
              display: flex;
              align-items: center;
              h2{
                font-size: 58px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white-color;
    
              }
            }
            p{
              font-size: 24px;
              color: $white-color;
              padding-top:50px;
            }
          }
          .column-2{
            width: 25%;
            line-height: 2.5;
          ul{
            li{
              font-size: 24px;
              color: $white-color;
            }
          }
          }
          .column-3{
            width: 25%;
            line-height: 2.5;
            ul{
              li{
                font-size: 24px;
                color: $white-color;
                text-transform: uppercase;
                i{
                  padding-right: 10px;
                }
              }
            }
          }
          .column-4{
            width: 25%;
            line-height: 2.5;
            ul{
              li{
                font-size: 24px;
                color: $white-color;
              }
              li:nth-of-type(5){
                color: $red;
              }
              li:nth-of-type(6){
                color: $red;
              }
            }
          }
        }
      }
    }
  
  }

  .copyright-section{
    background-color: $black-color;
    .custom-container{
      padding: 50px 100px;
      .copyright-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright-left{
          font-size: 24px;
          color: $white-color;
          text-transform: uppercase;
        }
        .copyright-right{
          font-size: 24px;
          color: $white-color;
          text-transform: uppercase;
        }
      }
    }
  }
}
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
.common-banner-section{
  position: relative;
  margin-bottom: 140px;
  .common-banner-slider {
    .banner-item {
      .image-container {
        height: 130vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        // &:after{
        //   content:'';
        //   position: absolute;
        //   background-color: #000000bf;
        //   height: 100%;
        //   width: 100%;
        //   top: 0;
        //   left: 0;
        //   right: 0;
        //   margin: auto;
        //   z-index: 0;
        // }
        .custom-container {
          position: relative;
          width: 100%;
          text-align: center;
          .inner {
            max-width: 1235px;
            display: inline-block;
            text-align: center;
            z-index: 2;
            position: relative;
            .banner-content {
              

              .section-title {
                h1 {
                  font-family: $font-type-2;
                  font-weight: 600;
                  color: $white-color;
                  
                  text-transform: uppercase;
                  letter-spacing: 0.25em;
                  font-size: 221px;
                  span{
                    color:#FE393E;
                  }
                }
              }

              .section-content-banner {
                span{
                  display: inline-block;
                  background: $white-color;
                  width: 465px;
                  height: 5px;
                  position: relative;
                  
                  &:after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-color: $white-color;
                    bottom: 10px;
                    width: 465px;
                    height: 1px;
                    left:0;
                  }
                }
                .thick{
                  height: 1px;
                  &:after{
                    height: 5px;
                  }
                }
               
                
                p{
                  display: inline-block;
                  color:$white-color;
                  font-size:38px;
                  font-weight: 600;
                  text-transform: uppercase;
                  padding: 0 34px 28px 30px;
                }
               
              }
              .section-content{
               
                p{
                  font-size: 32px;
                  font-weight: 600;
                  color:$white-color;
                  font-weight: 600;
                  text-transform: uppercase;
                
                }
              }
              .icon-container{
                i{
                  color:$white-color;
                  font-size: 35px;
                  position: absolute;
                  bottom: -15%;
                }
              }
            }
          }
        }
      }
    }
  }

  .scroll-button{
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
    cursor: pointer;
    .scroll-down-mouse {
      width: 3px;
      padding: 10px 15px;
      height: 35px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
      .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
      }
    }
  }

 
}
.common-button-container{
 a{
   button{
    text-transform: uppercase;
    background-color: #1ACE75;
    border-style: none;
    color: white;
    padding:15px;
    font-size: 26px;
   }
 }
}
.common-icon-button{
  button{
    border-radius: 50%;
    border-style: none;
    background-color: #1ACE75;
    padding:20px;
    i{
      color:$white-color;
      font-size:25px;
    }
  }
}
.common-section-title{
  h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
  }
}
.common-section-subtitle{
  h2{
    color:$red;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
  }
}
.common-box-container{
  background-color: $green-color;
  border-radius: 10px;
  padding: 10px 15px 10px 10px ;
  position: relative;
  h2{
    font-size: 34px;
    color:$white-color;
    font-weight: bold;
    text-transform: capitalize;

  }
  p{
    font-size: 24px;


  }
  &::after{
    content: '';
    height: 16px;
    width: 25px;
    position: absolute;
    background-color: $green-color;
    top:50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
  &.left{
    &::after{
      right: -2%;
    }
  }
  &.right{
    &::after{
      left: -2%;
    }
  }
}
.common-footer-title{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-color;
  position: relative;
  &::before{
    content: '';
    height: 7px;
    width: 33px;
    background-color:$red;
    position: absolute;
    bottom: 0;

  }

}

.common-room-type-container{
display: flex;
justify-content: space-between;

  .column-1{
 width: 60%;
 height: 100%;
//  margin-right: 40px;
    .image-slider{
      .image-item{
        .image-container{
       
          img{
            height: 806px;
          }
        }
      }
    }
  }
  .column-2{
    width: 40%;
    border: 3px solid $grayish;
 
    height: 800px;
    .column-2-content{
      padding:100px 50px;
      h1{
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 600;
      }
      h2{
        font-size: 28px;
        text-transform: uppercase;
        span{
          color: $green-color;
        }
      }
      p{
        font-size: 26px;
      }
      h3{
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
      }
      ul{
        display: flex;
        align-items: center;
        li{
          font-size: 28px;
          &:not(:last-of-type){
            margin-right:15px;
          }
        }
        li{
          .image-container{
            height: 47px;
            width: 47px;
          }
        }
      }
      h4{
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;

      }
    }
  }
}
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/

/*----------------------------------- Slick Slider Ends -----------------------------------*/

  .slick-slider{
    .slick-prev,.slick-next{
      z-index: 1;
      height: 50px;
      width: 50px;
      color: $white-color;
      &:before {
        display: none;
      }
      &:after {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        height: 88px;
        width: 88px;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        right: 0;
        left: 0px;
      }
    }
  
    .slick-prev{
      left: 60px;
      &:after {
        background-image: url('../assets/img/icon/chevron-left.png');
      }
    }
  
    .slick-next{
      right: 60px;
      &:after {
        background-image: url('../assets/img/icon/chevron-right.png');
      }
    }
  }


/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/

/*-------------------------------------- Modal Starts -------------------------------------*/

/*--------------------------------------- Modal Ends --------------------------------------*/
}